.dialog_success {
  color: #22b573;
}
.dialog_error {
  color: #f00;
}
.dialog_warning {
  color: #ffa500;
}
.icon_dialog {
  background: url("../images/icon_dialog.png") 0 0 no-repeat;
  width: 21px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.icon_dialog.error {
  background-position: 0 -20px;
}
.icon_dialog.warning {
  background-position: 0 -40px;
}
.ui-dialog-content {
  text-align: center;
  line-height: 2;
  padding-top: 10px;
}
